html {
  position: relative;
  min-width: 550px;
  min-height: 43em
}

@font-face {
  font-family: 'Light';
  src: url("../fonts/TheLightFont.otf");
}

body {
  min-width: 550px;
  overflow: hidden;
}

.main {
  background-color: lavender;
  background-size: cover;
}

.topbar {
  background-color: #2e2e2e;
  padding-left: 100%;
  padding-top: 0%;
  position: absolute;
  height: 2.7em;
  top: 0%;
  left: 0%;
  z-index: -1;
  box-shadow: 0 2px 2px #004492, inset 0 -2px 1px #003c81;
}

header {
  width: 10em;
}

header .title{
  margin: 0;
  position: absolute;
  top: 0em;
  right: 6.8em;
  color: aliceblue;
  font-family: 'Abel';
  font-weight: lighter;
  font-size: 2.5em;
  
}

header .team{
  margin: 0;
  position: absolute;
  top: 1.1em;
  right: 0.45em;
  color: aliceblue;
  font-family: 'Abel';
  font-weight: lighter;
  font-size: 1.19em;
  
}

.menu {
  cursor: pointer;
  height: 2.3em;
  position: absolute;
  top: 0.05em;
  left: 0.1em;
}

div {
  margin: 0;
}

#sidemenucontainer {
  position: relative;
  height: 98vh;
  left: -0.4vw;
  width: 13em;
  top: 2em;
  z-index: 1;
  overflow: hidden;
}

#sidemenu {
  background-color: #2e2e2e;
  position: absolute;
  height: 96vh;
  width: 100%;
  top: 0em;
  right: -13em;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

button {
  border: 0;
  border-radius: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button.blueHoverButton{
  background-color: #003c81;
  position: absolute;
  bottom: 2%;
  left: 4%;
  width: 90%;
  height: 6.5vh;
  font-family: 'Abel';
  font-weight: lighter;
  font-size: 5vh;
  text-align: center;
  color: rgb(209, 197, 201);
}

button.blueHoverButton:hover{
  background-color: #004492;
}

div.settingsBackground {
  background-color: #3d3d3d;
  position: absolute;
  width: 100%;
  height: 6vh;
}

h4.settingsText {
  position: absolute;
  text-align: end;
  margin: 0;
  top: 5%;
  left: 15%;
  color: aliceblue;
  font-family: 'Abel';
  font-weight: lighter;
  font-size: 2.5em;
  cursor: default;
}